.star {
    position: absolute;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 16px 2px rgb(255, 245, 252);
    animation-duration: 3s;
    animation-name: twinkle;
    animation-iteration-count: infinite;
    z-index: -1;
  }
  
  .star1 { top: 150px; left: 10%; height: 13px; width: 13px; animation-delay: 3s; }
  .star2 { top: 100px; left: 20%; height: 9px; width: 9px; animation-delay: 2s; }
  .star3 { top: 200px; left: 30%; height: 5px; width: 5px; }
  .star4 { top: 50px; left: 40%; height: 30px; width: 30px; animation-delay: 1s; }
  .star5 { top: 300px; left: 50%; height: 6px; width: 6px; animation-delay: 0.5s; }
  .star6 { top: 400px; left: 60%; height: 10px; width: 10px; animation-delay: 2s; }
  .star7 { top: 150px; left: 70%; height: 8px; width: 8px; animation-delay: 1.5s; }
  .star8 { top: 50px; left: 80%; height: 12px; width: 12px; animation-delay: 0.7s; }
  .star9 { top: 300px; left: 90%; height: 7px; width: 7px; animation-delay: 1.2s; }
  .star10 { top: 350px; left: 12%; height: 9px; width: 9px; animation-delay: 2.5s; }
  .star11 { top: 450px; left: 35%; height: 14px; width: 14px; animation-delay: 3s; }
  .star12 { top: 150px; left: 60%; height: 11px; width: 11px; animation-delay: 0.8s; }
  .star13 { top: 200px; left: 75%; height: 7px; width: 7px; animation-delay: 1.8s; }
  .star14 { top: 100px; left: 5%; height: 10px; width: 10px; animation-delay: 0.6s; }
  .star15 { top: 250px; left: 15%; height: 12px; width: 12px; animation-delay: 2.2s; }
  .star16 { top: 300px; left: 25%; height: 8px; width: 8px; animation-delay: 1.9s; }
  .star17 { top: 400px; left: 45%; height: 6px; width: 6px; animation-delay: 1.4s; }
  .star18 { top: 500px; left: 55%; height: 5px; width: 5px; animation-delay: 0.3s; }
  .star19 { top: 100px; left: 65%; height: 10px; width: 10px; animation-delay: 2.8s; }
  .star20 { top: 200px; left: 85%; height: 10px; width: 10px; animation-delay: 1.1s; }
  
  .star21 { top: 75px; left: 10%; height: 8px; width: 8px; animation-delay: 2.3s; }
  .star22 { top: 175px; left: 35%; height: 6px; width: 6px; animation-delay: 1.6s; }
  .star23 { top: 250px; left: 50%; height: 10px; width: 10px; animation-delay: 0.9s; }
  .star24 { top: 125px; left: 70%; height: 12px; width: 12px; animation-delay: 2.1s; }
  .star25 { top: 400px; left: 15%; height: 9px; width: 9px; animation-delay: 1.3s; }
  .star26 { top: 300px; left: 80%; height: 7px; width: 7px; animation-delay: 0.4s; }
  .star27 { top: 50px; left: 55%; height: 13px; width: 13px; animation-delay: 2.7s; }
  .star28 { top: 125px; left: 45%; height: 10px; width: 10px; animation-delay: 1.7s; }
  .star29 { top: 275px; left: 60%; height: 5px; width: 5px; animation-delay: 1.5s; }
  .star30 { top: 175px; left: 5%; height: 8px; width: 8px; animation-delay: 0.8s; }
  .star31 { top: 350px; left: 65%; height: 6px; width: 6px; animation-delay: 2.4s; }
  .star32 { top: 150px; left: 85%; height: 10px; width: 10px; animation-delay: 0.2s; }
  .star33 { top: 400px; left: 25%; height: 12px; width: 12px; animation-delay: 1.9s; }
  .star34 { top: 500px; left: 90%; height: 7px; width: 7px; animation-delay: 2.6s; }
  .star35 { top: 80px; left: 80%; height: 9px; width: 9px; animation-delay: 1.4s; }
  .star36 { top: 250px; left: 70%; height: 11px; width: 11px; animation-delay: 2.2s; }
  .star37 { top: 60px; left: 10%; height: 13px; width: 13px; animation-delay: 1.8s; }
  .star38 { top: 200px; left: 90%; height: 8px; width: 8px; animation-delay: 0.5s; }
  .star39 { top: 400px; left: 50%; height: 9px; width: 9px; animation-delay: 3s; }
  .star40 { top: 350px; left: 15%; height: 5px; width: 5px; animation-delay: 0.6s; }
  
  @keyframes twinkle {
    0% {
        opacity: 0.5;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.5;
    }
  }